.gallery-main-container{
    padding-top: 100px;
    background: var(--bg-color);

    @media screen and (max-width:767px){
        .gallery-images{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        }
    }
    @media screen and (min-width:768px){
        .gallery-images{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        }
    }
    @media screen and (min-width:1024px){
        .gallery-images{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        }
    }
}