.background-main-style{
    filter: brightness(0.3);   
    width: 100vw;
    z-index: -1;
    height: var(--height);
    position: absolute !important;
}
.parallax-background{
    z-index: -1;
    position: absolute;
    top: 0;
}
.home-text-style{
    padding: 1rem;
    z-index: 1;
    position: absolute;
    color: white;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
}
.home-content-container-one{
    position: relative;
    height: var(--height);
}
.home-content-container-two{
    position: relative;
    min-height: var(--height);
    background: var(--bg-color);
    a{
        text-decoration: none;
    }
}
.more-link{
    display: flex;
    text-decoration: none;
    margin-left: 5px;
    align-items: center;
    color: #6ebfc2;
    &:hover{
        .more-link-icon{
            transform: translateX(3px);
        }
    }
    .more-link-icon{
        margin-left: 5px;
        transform: translateX(0px);
        transition: all 0.3s ease;
    }
    }