
.category-image-style{
    height: 400px !important;
    border-radius: 4px;
    min-width: 300px;
    width: -webkit-fill-available !important;
    img{
        object-fit: contain !important;
    }
}


@media screen and (max-width: 767px){
    .category-paper{
        position: relative;
        height: 400px;
        min-width:300px;
        max-width: 400px;
    }
    .category-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .category-container-reverse{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .category-details{
        min-width:320px;
        max-width: 400px;
        text-align: center;
        padding: 1rem;
    }
    .category-carousel-style{
        min-width:300px;
        max-width: 400px;
        overflow: unset !important;
        margin: 0.5rem;
        // transform: perspective(600px) rotateY(-10deg);
    }
    .category-carousel-style-reverse{
        min-width:300px;
        max-width: 400px;
        overflow: unset !important;
        margin: 0.5rem;
        // transform: perspective(600px) rotateY(-10deg);
    }
}
@media screen and (min-width: 768px){
    .category-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4.5rem;
    }
    .category-container-reverse{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        margin-bottom: 4.5rem;
    }
    .category-details{
        max-width: 320px;
        text-align: center;
        padding: 1rem;
    }

    .category-carousel-style{
        overflow: unset !important;
        margin: 1rem;
        width: 400px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-transform: rotateY(-10deg);
        -webkit-transform: rotateY(-10deg);
        -moz-transform: rotateY(-10deg);
        -o-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
        transition: all 0.3s ease;
        &:hover{
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -ms-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);

            .category-paper{
                box-shadow: var(--elevate10) !important;
            }
        }

    }
    .category-carousel-style-reverse{
        overflow: unset !important;
        margin: 1rem;
        width: 400px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-transform: rotateY(10deg);
        -webkit-transform: rotateY(10deg);
        -moz-transform: rotateY(10deg);
        -o-transform: rotateY(10deg);
        transform: rotateY(10deg);
        transition: all 0.3s ease;
        &:hover{
            -ms-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);

            .category-paper-reverse{
                box-shadow: var(--elevate10) !important;
            }
        }

    }
    .category-paper{
        position: relative;
        height: 400px;
        min-width:300px;
        max-width: 400px;
        transition: all 0.3s ease;
        box-shadow: var(--elevate_rotated) !important;
    }
    .category-paper-reverse{
        position: relative;
        height: 400px;
        min-width:300px;
        max-width: 400px;
        transition: all 0.3s ease;
        box-shadow: var(--elevate_rotated-reverse) !important;
    }
}

